@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-image: url("./assets/ash-edmonds-XZ0xN0hmpi4-unsplash.jpg");
  background-size: cover; /* co ảnh vừa khít màn hình */
  background-position: center; /* căn giữa ảnh */
  background-repeat: no-repeat;
  background-attachment: fixed; /* giữ ảnh cố định khi cuộn */
}
